 <div class="container-fluid" id="my_login_page">
      <div class="container">
     <div class="row">
     <div class="col-md-6 mt-5 mx-auto" id="myloginForm">
      <h2 class="text-center bg-dark">Registration Form</h2>
       <form>
       <div class="form-group">
        <label>Username:</label>
         <input type="text" name="Username" id="Username" class="form-control" placeholder="Enter email here">
       </div>
        <div class="form-group">
        <label>Password:</label>
         <input type="text" name="Password" id="Password" class="form-control" placeholder="Enter email here">
       </div>
       <input type="submit" name="login" id="login" class="btn btn-primary">

       <a href="#" class="btn btn-primary" id="register" routerLink="registration">Register</a>
     </form>

     </div>
   </div>
 </div>
</div>