<div class="container-fluid" id="dashboard_container">	
		<div class="container">
			<div class="row">
				<div class="col-md-4 mx-auto">
					<h3 class="text-white text-center bg-dark mb-3 mt-4">All Patients</h3>
				</div>
				<table class="table table-dark table-hover ">
    <thead>
      <tr>
        <th>Sno</th>
        <th>Name</th>
        <th>Age</th>
        <th>Gender</th>
        <th>Address</th>
        <th>City</th>
        <th>Bllod Group</th>
        <th>Email</th>
        <th>image</th>
        <th colspan="2">Action</th>
      </tr>
    </thead>
   	<tbody>
    
      <tr>
        <td>1</td>
        <td>vaibhav</td>
        <td>27</td>
        <td>Male</td>
         <td>Ujjain</td>
        <td>Ujjain</td>
        <td>A+</td>
         <td>vivgangs@gmail.com</td>
        <td><img src ="../../assets/img/10.png" style='height: 150px; width: 150px;'></td>
        <td colspan="2">
        	<a routerLink="/view-patient-history"><button class="btn btn-info">View History</button></a>	
        </td>
        <td>
            <a href="#" class="btn btn-danger trash" id="">Delete</a>
        </td>
       </tr>
      
    </tbody>
  </table>
			</div>
		</div>
</div>