<div class="container-fluid" id="dashboard_container">	
		<div class="container">
			<div class="row">
				<div class="col-md-4 mx-auto">
					<h3 class="text-white text-center bg-dark mb-3 mt-4">All Appontments</h3>
				</div>
				<table class="table table-dark table-hover ">
    <thead>
      <tr>
        <th>Sno</th>
        <th>Name of Patient</th>
        <th>Appointment Date</th>
        <th>Consulting Doctor</th>
        <th>Appointment Status</th>
        <th>Action</th>
      </tr>
    </thead>
    <tbody>
   
      <tr>
        <td>1</td>
        <td>Vaibahv</td>
        <td>Dr ABC</td>
        <td><p id='sts' class='badge badge-info'>Pending</p></td>
       
        <td>
          <a href="#" routerLink="/view-appointment"> View</a>
        </td>
      </tr>
   </tbody>
  </table>
			</div>
		</div>
</div>