<div class="container-fluid" id="dashboard_container">	
		<div class="container">
			<div class="row">
				<div class="col-md-4 mx-auto">
					<h3 class="text-white text-center bg-dark mb-3 mt-4">All Doctors</h3>
				</div>
			</div>
				<a href="<?php echo base_url().'index.php/AdminController/AddDoctors' ?>" class="btn btn-primary mb-2">Add Doctors</a>
			<div class="row">
				<table class="table table-dark table-hover ">
    <thead>
      <tr>
        <th>Sno</th>
        <th>Doctor Name</th>
        <th>Contact no.</th>
        <th>Specification</th>
        <th>Consult Fee</th>
        <th>Profile Picture</th>
        <th>Action</th>
      </tr>
    </thead>
   
     <tbody>
     	
      <tr>
        <td>1</td>
        <td>Doctor Name</td>
        <td>0987654321</td>
        <td>TB Expert</td>
        <td>50000</td>
         <td><img src ="../../assets/img/10.png" style='height: 150px; width: 150px;'></td>
        <td>
        	<a href="#"><button class="btn btn-info">Edit</button></a>
        </td>
        	<td>
            <a onclick = "return confirm('Do You Really want to delete this ?');" href="<?php echo base_url().'index.php/AdminController/DeleteDoctor/'.$doctors['id']; ?>" class="btn btn-danger trash" id="delete_doctor" >Delete</a>
        </td>
      </tr>
  	</tbody>
  </table>
				</div>
			</div>
		</div>
